<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Domyślny tytuł{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <nav>
        <h1>Kompas</h1>
        {% if current_user and not current_user.is_anonymous  %}
        <h2>Cześć, {{current_user.name}}!</h2>
        {% endif %}
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/dashboard">Dashboard</a> </li>
           {% if not current_user %} <li><a href="/auth/login">Logowanie</a></li> {% else %}
            <li><a href="/auth/logout"> Wyloguj</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Kompas</p>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>
